<h1 align = "center"> Users </h1>
<div class = "container pagination justify-content-center">
  <%= will_paginate @users %>
</div>
<div class = "offset-2">
<%= render 'user', obj: @users %>
</div>
<div class = "container pagination justify-content-center">
  <%= will_paginate @users %>
</div>
