<blockquote class="blockquote text-center">
  <p class="mb-0">User</p>
</blockquote>
<div class = "container pagination justify-content-center">
  <%= will_paginate @users %>
</div>
<%= render 'user', obj: @users %>
<div class = "container pagination justify-content-center">
  <%= will_paginate @users %>
</div>