<blockquote class="blockquote text-center">
 <p class="mb-0">
      <%= link_to  "Start your startup journey with us now", members_signup_path %>
  </p>
</blockquote>
<div class = "container pagination justify-content-center">
  <%= will_paginate @members %>
</div>
<%= render 'member', obj: @members %>
<div class = "container pagination justify-content-center">
  <%= will_paginate @members %>
</div>