<blockquote class="blockquote text-center">
  <p class="mb-0">Member</p>
</blockquote>
<div class = "container pagination justify-content-center">
  <%= will_paginate @members %>
</div>
<%= render 'member', obj: @members %>
<div class = "container pagination justify-content-center">
  <%= will_paginate @members %>
</div>