<blockquote class="blockquote text-center">
<p class="mb-0">
      <%= link_to  "Join our team of mentors", mentors_signup_path %>
  </p>
</blockquote>
<div class = "container pagination justify-content-center">
  <%= will_paginate @mentors %>
</div>
<%= render 'mentor', obj: @mentors %>
<div class = "container pagination justify-content-center">
  <%= will_paginate @mentors %>
</div>