<p class="offset-1 center">
      <%= link_to  "Join our team of mentors", mentors_signup_path %>
  </p>
<div class = "container pagination justify-content-center">
  <%= will_paginate @mentors %>
</div>
<div>
<%= render 'mentor', obj: @mentors %>
</div>
<div class = "container pagination justify-content-center">
  <%= will_paginate @mentors %>
</div>
