<blockquote class="blockquote text-center">
  <p class="mb-0">Startup</p>
</blockquote>
<div class = "container pagination justify-content-center">
  <%= will_paginate @startups %>
</div>
<%= render 'startup', obj: @startups %>
<div class = "container pagination justify-content-center">
  <%= will_paginate @startups %>
</div>