<h1 align="center">Listing all categories</h1>
<% @categories.each do |category| %>
	<div class = "card card-list offset-3 " style="width: 500px">
		<div class ="card-header" > <%= link_to category.name, category_path(category) %>
		</div>
		<div class = "card-footer"> 
			<%= link_to "Edit",edit_category_path(category),class: "btn btn-lg btn-primary"  %>
			<td> <%= link_to "delete",category_path(category),method: :delete,data: {confirm: 'Are you sure?'},class: "btn btn-danger btn-lg" %>
		</div>
	</div>
<% end %>