  <p class="mb-0 offset-1">
      <%= link_to  "Join our team of investors", investors_signup_path %>
  </p>
<div class = "container pagination justify-content-center">
  <%= will_paginate @investors %>
</div>
<div class = "center offset-5">
<%= render 'investor', obj: @investors %>
</div>
<div class = "container pagination justify-content-center">
  <%= will_paginate @investors %>
</div>

