<blockquote class="blockquote text-center">
  <p class="mb-0">
      <%= link_to  "Join our team of investors", investors_signup_path %>
  </p>
</blockquote>
<div class = "container pagination justify-content-center">
  <%= will_paginate @investors %>
</div>
<%= render 'investor', obj: @investors %>
<div class = "container pagination justify-content-center">
  <%= will_paginate @investors %>
</div>

